# Dependencies
node_modules/
**/node_modules/

# Environment variable

# Vite
dist/
**/dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Build/cache
.cache/
.vite/